/* ase-research.org */
/* Style créé par Mathieu Basille, 2008-03-12, MAJ 2011-01-24 */
/* Basé sur le style de http://gegl.org/ */



/* ================================================================ */
/*                                                                  */
/*                        Styles génériques                         */
/*                                                                  */
/* ================================================================ */

body {
       font-family: sans-serif;
       /* font-size: 90%; */
       margin: 4em 4em 4em 17em;
       text-align: justify;
       max-width: 1100px; 
       /* min-width: 600px; */
}

/* Liens */
/* 5 classes de liens : out/pdf/ppt/email/img */
a:link, a:visited {
    color: #990000;
    font-weight: bold;
    text-decoration: none;
}
a.out:link, a.out:visited {
    color: #ff3300;
    font-weight: bold;
    text-decoration: none;
}
a.pdf:link, a.pdf:visited {
    background: url(images/pdfico.png) no-repeat right;
    padding-right: 30px;
}
a.ppt:link, a.ppt:visited {
    background: url(images/pptico.png) no-repeat right;
    padding-right: 30px;
}
a.email:link, a.email:visited {
    background: url(images/mailico.png) no-repeat right;
    padding-right: 21px;
}
a:hover, a.out:hover, a.pdf:hover, a.ppt:hover, a.email:hover {
    background-color: #444455;
    color: #FFFFFF;
}
a:active, a.out:active, a.pdf:active, a.ppt:active, a.email:active {
    background-color: #444455;
    color: #000000;
}
a.img:link, a.img:visited, a.img:hover, a.img:active { 
    background-color: white;
    color: white;
}

/* Images */
/* 1 classe d'images : link */
img {
    border : none;
    max-width: 100%;
    text-decoration: none;
}
img.link:link, img.link:visited {
    color: white;                                  
}
img.link:hover {
    outline: #990000 solid 2px;
}
img.link:active {
    outline: black solid 2px;
}

/* Titres */
h1 {
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 3px;
    color: #990000;
}
h2, h3 { 
    font-variant: small-caps;
}
h3 {
    margin-top: 3em;
}

/* Listes */
ul {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 1em;
    margin-top: 0px;
    padding-left: 0px;
}
ul li { 
    /* list-style-image: none; */
    /* list-style-position: inside; */
    /* list-style-type: square; */
    margin-top: 0.3em;
}
ol {
    margin-left: 1em;
    margin-top: 0px;
    padding-left: 1em;
}
ol li { 
    list-style-image: none;
    margin-top: 0.3em;
}

/* Blockquotes */
blockquote {
    font-size: 90%;
}
blockquote p.cite {
    font-style: italic;
}
blockquote p.author {
    text-align: right;
    font-variant: small-caps;
    font-weight: bold;
}
blockquote p.cite:before {
    content: "“";
}
blockquote p.cite:after {
    content: "”";
}
blockquote p.author:before, p.author:after {
    content: "—";
}

/* Div flottants */
/* 4 classes de div: align-top/align-right/align-left/fixed-top */
div.align-top {
    float: right;
    margin: -2em -2em 2em 2em;
}
div.align-right {
    float: right;
    margin: 1em;
}
div.align-left {
    float: left;
    margin: 1em;
}
div.fixed-top {
    position: fixed;
    width: 200px;
    right: 2em;
    top: 2em;
    /* background: white; */
}

/* Erreur 404 */
h2.err404 { 
    color: red;
}
#err404 { 
    padding: 40px;
    border: 5px dotted red;
}



/* ================================================================ */
/*                                                                  */
/*         Styles pour le  menu de gauche (#toc)                    */
/*                                                                  */
/* ================================================================ */

/* Propriétés d'affichage du menu */
#toc {
    position: fixed;
    float: left;
    height: 100%;
    width: 15em;
    left: 0;
    top: 0;
    overflow: auto;
    padding-left: 1.2em;
    z-index: 2;
}
#toc a, #toc div a {
    display: block;
}

/* toctitle (logo) */
#toc .toctitle {
    margin-top: 2em;
    margin-bottom: 2em;
}
#toc .toctitle a {
    font-variant: small-caps;
    font-size: 250%;
    /* text-align: center; */
    letter-spacing: 3px;
    display: block;
    width: 216px;
}
/* #toc .toctitle a { */
/*     display: block; */
/*     width: 12.5em; */
/* } */
/* #toctitle a { */
/*     background: url(images/habitat.png) no-repeat; */
/*     height: 180px; */
/*     width: 180px; */
/*     margin: 20px; */
/*  } */
/* #toctitle a:hover, #toctitle div a:hover { */
/*     background: url(images/habitat.png) no-repeat 0 -180px; */
/* } */

/* toclevel1 et tocleve2 */
#toc .toclevel1 span, #toc .toclevel1 div span {
    display: block;
    font-weight: bold;
    font-variant: small-caps;
}
/* toclevels (intertitres) */
#toc .toclevel1 {
    margin-top: 1em;
    padding-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#toc .toclevel2 span {
    /* border: 2px solid #444455; */
    font-weight: bold;
    /* color: #444455; */
    color: #1F1F1F;
    background-color: #cccccc;
    display: block;
    padding-left: 1em;    
    width: 12.5em;
}
#toc .toclevel2 a {
    display: block;
    padding-left: 1em;    
    width: 12.5em;
}



/* ================================================================ */
/*                                                                  */
/*                         Divers                                   */
/*                                                                  */
/* ================================================================ */

/* Table class="tocsup" */
.tocsup
{
    border-collapse: collapse;
    margin-bottom: 30px;
}
.tocsup td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

/* Update id="update" */
#update {
    /* font-variant: small-caps; */
    text-align: right;
    font-size: 80%;   
    padding-top: 2em;
}

/* Code R */
/* 2 classes de pre : Rin/Rout */
pre.Rin { 
    color: red;
}
pre.Rout { 
    color: blue;
}
/* R dans le texte */
/* http://www.stopdesign.com/articles/replace_text/ */
/* span.R { */
/* /\*     display: inline; *\/ */
/* /\*     float: left; *\/ */
/*     width: 20px; */
/*     height: 15px; */
/*     background: url(images/rlogo_small.png) no-repeat; */
/* } */
/* span.R span { */
/*     display: none; */
/* } */
/* http://www.kryogenix.org/code/browser/lir/ */
/* span.R { */
/*     padding: 15px 0 0 0; */
/*     overflow: hidden; */
/*     background-image: url(images/rlogo_small.png); */
/*     background-repeat: no-repeat; */
/*     height: 0px !important; */
/*     height /\**\/:15px; */
/* } */

/* Warning */
.warning { 
    text-align: center;
    margin: 2em 1em;
    font-weight: bold;
    padding: 1em;
    border: 5px dotted red;
}

/* Boutons sur les 'li' */
/* 2 classes de liste ul : button1/button2 */
ul.button1, ul.button2 {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 6em;
}
ul.button1 a { 
    float: left;
    text-transform: uppercase;
    border: 1px solid #990000;
    margin: 0 0.3em 0.3em 0;
    padding: 0.2em 0.3em;
}
ul.button2 a { 
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.5em;
    margin-right: -1px;
}

/* Trombinoscope */
ul.trombi {
    overflow:hidden;
    list-style-type: none;
    /* margin: auto; */
    /* width: 650px; */
    margin-left: 1.5%;
    margin-right: 1.5%;
}
ul a.trombi {
    display: block;
    width: 120px;
    height: 38px;
    float: left;
    text-align: center;
    margin: 5px 0.7%;
    padding: 165px 0 5px 0;
}
#trombibasille {
    background: url(/ase/basille.jpg) no-repeat;
}
#trombibasille:hover {
    background-color: #444455;
}
#trombicalenge {
    background: url(/ase/calenge.jpg) no-repeat;
}
#trombicalenge:hover {
    background-color: #444455;
}
#trombimartin {
    background: url(/ase/martin.jpg) no-repeat;
}
#trombimartin:hover {
    background-color: #444455;
}
#trombimoorter {
    background: url(/ase/moorter.jpg) no-repeat;
}
#trombimoorter:hover {
    background-color: #444455;
}
#trombitolon {
    background: url(/ase/tolon.jpg) no-repeat;
}
#trombitolon:hover {
    background-color: #444455;
}


/* ================================================================ */
/*                                                                  */
/*                        Styles pour R                             */
/*            (reprend la CSS de l'aide HTML de R)                  */
/*                                                                  */
/* ================================================================ */

div.Rhelp a:link {
    background: white;
    color: blue;
}
div.Rhelp a:visited {	
    background: white;
    color: rgb(50%, 0%, 50%);
}
div.Rhelp h1 {		
    background: white;
    color: rgb(55%, 55%, 55%);
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}
div.Rhelp h2 {		
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-size: large;
    text-align: center;
}
div.Rhelp h3 {		
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-size: large;
}
div.Rhelp h4 {		
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-style: italic;
    font-size: large;
}
div.Rhelp h5{		
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
}
div.Rhelp h6{		
    background: white;
    color: rgb(40%, 40%, 40%);
    font-family: monospace;
    font-style: italic;
}
div.Rhelp img.toplogo {	
    vertical-align: middle;
}
div.Rhelp img.arrow {	
    width: 30px;
    height: 30px;
    border: 0;
}
div.Rhelp span.acronym {
    font-size: small;
}
div.Rhelp span.env {
    font-family: monospace;
}
div.Rhelp span.file {
    font-family: monospace;
}
div.Rhelp span.option {
    font-family: monospace;
}
div.Rhelp span.pkg {
    font-weight: bold;
}
div.Rhelp span.samp {
    font-family: monospace;
}
div.Rhelp div.vignettes a:hover {
    background: rgb(85%, 85%, 85%);
}
